[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "libnyquist"]
	path = libnyquist
	url = https://github.com/ddiakopoulos/libnyquist
[submodule "dr_libs"]
	path = dr_libs
	url = https://github.com/mackron/dr_libs
